@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(/pm-cgi/montserrat.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
	background: #000 url('/pm-cgi/noise.png');
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	padding: 0;
}

* {
	transition: ease-in-out 0.2s;
}

.wrapper {
	position: relative;
	width: 93vw;
	height: 93vh;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 15px;
	transition: none;
}

.head {
	position: relative;
	display: block;
	width: calc(100% - 10px);
	min-height: 75px;
	border: 1px solid #b6b6b6;
	background: #111;
	border-radius: 1px;
	padding: 5px;
}

a.header {
	font-size: 31px;
	height: 100%;
	text-decoration: none !important;
	color: white !important;
	line-height: 75px;
	margin-left: 5px;
}

.content {
	position: relative;
	display: block;
	width: calc(100% - 10px);
	border: 1px solid #b6b6b6;
	background: #111;
	border-radius: 1px;
	padding: 5px;
	flex: 1 1 0;
	line-height: 25px;
	transition: none;
}

.git {
	border: 2px solid black;
	background: #e8ed58;
	border-radius: 1px;
	display: block;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: black;
	line-height: 65px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 20px;
	font-size: 16px;
	width: 200px;
	height: 65px;
}

.git::after {
	content: 'Fork us on GitHub';
}

.git:hover{
	background:#fbff96;
}
.git:hover:active{
	background:#c1c55d;
}

.form-text {
	display: block;
	width: 100%;
	height:29px;
	float:left;
	font-family: 'Roboto', sans-serif;
	padding-top: .375rem;
	padding-left: .75rem;
	padding-bottom: .375rem;
	padding-right: 0px;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-text::placeholder {
	color: #6c757d;
	opacity: 1;
}

.form-text:focus {
	color: #495057;
	background-color: #fff;
	border-color: #80bdff;
	outline: 0;
	box-shadow: 1px 0px 0px 0.2rem rgba(0,123,255,.25);
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.btn {
	flex: 1;
	cursor:pointer;
	display: block;
	height: 40px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	line-height: 1.5;
	border-radius: .25rem;
	background: transparent;
	margin-left: 2px;
	margin-right: 2px;
	font-size: 0.95rem;
	text-decoration: none;
	transition: .15s ease-in-out, color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

[type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner, button::-moz-focus-inner {
	padding: 0;
	border-style: none;
}

.btn-blu{border-color: #2A9FD6;color: #2A9FD6} /* colors */
.btn-blu:hover{background-color:#2A9FD6;color: #fff}
.btn-grn{border-color: #77B300;	color: #77B300}
.btn-grn:hover{background-color: #77B300;color: #fff}
.btn-org{border-color: #FF8800;	color: #FF8800}
.btn-org:hover{background-color: #FF8800;color: #fff}
.btn-red {border-color: #CC0000;color: #CC0000}
.btn-red:hover{background-color:#CC0000;color: #fff}
.bge-blu{background-color: #2A9FD6;color: #fff} /* badges */
.bge-grn{background-color: #77B300;color: #fff}
.bge-org{background-color: #FF8800;color: #fff}
.bge-red{background-color: #CC0000;color: #fff}

.btn-blu:focus{
	box-shadow: 1px 0px 0px 0.2rem rgba(0,123,255,.5);
	outline:0;
}
.btn-grn:focus{
	box-shadow: 1px 0px 0px 0.2rem rgba(119, 179, 0,.5);
	outline:0;
}
.btn-red:focus{
	box-shadow: 1px 0px 0px 0.2rem rgba(204, 0, 0,.5);
	outline:0;
}
.btn-org:focus{
	box-shadow: 1px 0px 0px 0.2rem rgba(255, 136, 0,.5);
	outline:0;
}

.btn-fancy {
	flex: 1 1 0;
	margin: 0 10px;
	
	display: block;
	transition: none;
	
	cursor: pointer;
	background: linear-gradient(0deg, rgb(210, 97, 42) 0%, rgb(222, 152, 91) 100%) repeat-x;
	
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
	
	border: 1px #313131 solid;
	border-radius: 1px;
	
	white-space: normal;
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
	
	color: white;
	
	line-height: 75px;
	text-align: center;
}

.btn-fancy:hover {
	background-color: #d2612a;
	background-position: 0 -15px;
}

.btn-fancy:hover:active {
	background-color: #d2692a;
	border-color: #313131;
	background-image: none;
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.bnt-blue { background-image: linear-gradient(0deg, rgb(42, 76, 210) 0%, rgb(91, 154, 222) 100%); }
.bnt-blue:hover { background-color: #2a4cd2 }
.bnt-blue:hover:active { background-color: #2a5cd2 }

.bnt-cyan { background-image: linear-gradient(0deg, rgba(42,171,210,1) 0%, rgba(91,192,222,1) 100%); }
.bnt-cyan:hover { background-color: #2aabd }
.bnt-cyan:hover:active { background-color: #2aabd2 }

.bnt-red { background-image: linear-gradient(0deg, rgb(210, 42, 42) 0%, rgb(222, 91, 91) 100%); }
.bnt-red:hover { background-color: #d22a2a }
.bnt-red:hover:active { background-color: #d22a2a }

.bnt-orange { background-image: linear-gradient(0deg, rgb(210, 97, 42) 0%, rgb(222, 152, 91) 100%); }
.bnt-orange:hover { background-color: #d2612a }
.bnt-orange:hover:active { background-color: #d2692a }

.bnt-green { background-image: linear-gradient(0deg, rgb(33, 157, 58) 0%, rgb(31, 204, 67) 100%); }
.bnt-green:hover { background-color: #189d3f }
.bnt-green:hover:active { background-color: #179330 }

#field {
	width: calc(100% - 40px);
	margin: 20px;
	display: flex;
	height: 58px;
	flex-wrap: wrap;
}

.visit {
	display: block;
	min-width: 60px;
	max-width: 60px;
	height: 100%;
	position: relative;
	float: right;
	top: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-left: 0px;
}

.input-url {
	width: 100%;
	height: calc(100% - 2px - 0.750rem);
	display: block;
	flex: 1 1 0;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-right: 0px;
}

.auto-fill {
	height: 22px;
	width: 100%;
	
	background: #fff;
	color: #495057;
	
	border: 1px solid #ced4da;
	padding: 0.475rem 0.75rem;
	transition: ease-in-out 0.1s;
}

.auto-fill:hover {
	border-color: #80bdff;
	background: #80bdff;
	outline: 0;
	box-shadow: 1px 0px 0px 0.2rem rgba(0,123,255,.25);
}

.top-to-bottom {
	display: flex;
	flex-direction: column;
}

.lbottom{
	position: absolute;
	width: calc(100% - 10px);
	padding: 10px;
	bottom: 0;
	left: 5px;
	text-align: left;
	display: flex;
}

.rbottom {
	position: absolute;
	width: calc(100% - 10px);
	padding: 10px;
	bottom: 0;
	right: 5px;
	text-align: right;
	flex-direction: row-reverse;
	display: flex;
}

.rbottom > div {
	flex: 0.2 1 0;
}

.button_container {
	position: absolute;
	display: flex;
	width: calc(100% - 32px);
	margin: 0 14px;
	left: 0;
	right: 0;
	font-size: 18px;
	bottom: 50px;
	height: 75px;
	font-size: 18px;
}

.tld-autofill {
	width: calc(100% - 49px);
	overflow: hidden;
	position: absolute;
	top: 83px;
}

.log-msg {
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #F67;
	text-shadow: 1px 1px 5px rgba(0,0,0,.5);
	font-weight: normal;
}

.button_container a {
	color: inherit;
	text-decoration: none;
}

@media only screen and (max-height: 400px) {
	.button_container {
		display: none;
	}
}

a {
	color: #4ca9fb;
	text-decoration: underline #4ca9fb;
}
a:hover {
	color: #438fd3;
	text-decoration: underline #438fd3;
}
a:hover:active {
	color: #255d8f;
	text-decoration: underline #255d8f;
}

.field-text {
	margin: 12px;
}

.ns {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-select: none;
}

@media only screen and (max-width: 768px) {
	.button_container {
		font-size: 15px;
		bottom: 20px;
	}
	
	.lbottom {
		display: none;
	}
	
	.rbottom {
		display: none;
	}
	
	.git {
		width: 100px;
		font-size: 10px;
	}
	
	#field {
		gap: 10px;
	}
	
	.input-url {
		/* compensate for padding-left being 10px */
		min-width: calc(100% - 13px);
		max-width: calc(100% - 13px);
		
		border-radius: .25rem;
	}
	
	.visit {
		min-width: 100%;
		max-width: 100%;
		
		border-radius: .25rem;
	}
}